body {
    display: flex;
    flex-direction: column; /* Change to column direction */
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure it takes full height */
    padding-bottom: 50px; /* Space for footer */
}

.title
{
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
   text-align: center;
   margin-top:40px;
}

img{
    height: 280px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.container {
    width: 200px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: gallery 20s linear infinite;
    cursor: pointer;
    margin-bottom: 20px; /* Add some space below the gallery */
}

.container span
{
    position: absolute;
    width: 100px;
    height: 80px;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(500px);
    -webkit-box-reflect: below 2.5px linear-gradient(transparent, transparent, rgba(3,3,3,0.2));
}

.container span img{
    position: absolute;
    border-radius: 20px;
    border: px ridge #ccc;

}

@keyframes gallery{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.footer {
    height: 50px;
    background-color: #333; 
    color: white;
    text-align: center;
    line-height: 50px;
    width: 100%;
    clear: both;
}