.card-img
{
    opacity: 0.4;
    
}

.card-title
{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center text */
    color: white; /* Text color */
    text-align: center; /* Center align text */
    font-weight: bolder;
    font-size: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-text
{
    position: absolute;
    top: 45%; 
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%); 
    color: white; 
    text-align: center; 
    padding-top: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.btn {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid rgb(77, 40, 40); /* White border */
    width: 20%;
    height: 9%;
    padding-top: 10px;
    color: white; /* Text color */
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
   
}

.btn:hover {
    box-shadow:
    0  0  3px rgba(255,255,255,0.5),
   0  0  5px rgba(255,255,255,0.4),
   0  0  8px rgba(174, 140, 140, 0.2);
}

.who
{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    color: white;
    margin-top: 80px;
}

.container {
    text-align: center;
    margin: 10px auto;
}

.image-container {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically, if needed */
}

.about-image {
    max-width: 100%; /* Ensure the image fills the width of the container */
    height: 600px; /* Maintain aspect ratio */
    max-height: 600px; /* Set a maximum height for the image */
    margin-top: 30px;
}

.text-content {
    margin-top: 20px; /* Space between image and text */
}

p {
    font-size: 20px; /* Slightly smaller for better readability */
    color: #f8f9fa; /* Light text color for contrast against dark background */
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px; /* Add margin for spacing */
}

.title{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    color: white;
    margin-top: 80px;
}

.footerr
{
    height: 50px;
    background-color: #333; 
    color: white;
    text-align: center;
    line-height: 50px;
    position: relative;
    bottom: 0%;
    width: 100%;
    clear: both;
}