.pur
{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center text */
    color: white; /* Text color */
    text-align: center; /* Center align text */
    font-weight: bolder;
    font-size: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer {
    height: 50px;
    background-color: #333; 
    color: white;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 0%;
    width: 100%;
    clear: both;
}