.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
}
/* Ensure the navbar expands and collapses without extra styling */
.navbar-collapse {
    display: none; /* Initially hidden */
}

.navbar-collapse.show {
    display: block; /* When toggled, show the navbar items */
}

.navbar-nav {
    
    padding-left: 0;
   
}
.navbar-brand{
    font-family:Georgia, 'Times New Roman', Times, serif; 
}

.nav-item {
    padding: 10px;
    font-weight: bold;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.nav-link {
    text-decoration: none;
    color: #333;
}



/* Optional: For small screens */
@media (max-width: 992px) {
    .navbar-collapse {
        width: 100%; /* Ensure it takes up the full width on mobile */
    }
}


/* .card-title
{
    position: absolute;
    font-size:40px;
    top: 4%;
    right:5%;
    color: black;
   

}
.card-title1
{
    position: absolute;
    font-size:60px;
    top: 12%;
    right:5%;
    color: black;

}

.card-body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

.card-text
{
    margin-top: 60px;
} */

/* Footer styling */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    background-color:  #e5eaf5;
}

.content {
    flex: 1;
}

.footer {
    height: 50px;
    background-color: #333; 
    color: white;
    text-align: center;
    line-height: 50px;
}


/* .container
{
    margin: 20px;
}

.image-text-wrapper
{
    overflow: hidden;
}

.about-image
{
    float: left;
    width: 300px;
    margin-right: 20px;
}

.about-text
{
    line-height: 1.6;
    font-size: 16px;
    color: #333;
} */


.btn-group
{
  
   width: 15%;
   height: 50%;
   padding: 10px;
   background-color:  #a55233;
   color: black;
   font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: none;
    border-radius: 10px;
    

    
}
