.navbar
{
    height: 55px;
    border: 1px solid rgb(204, 221, 226);
<<<<<<< HEAD
   
=======
    
>>>>>>> 1fd314e5070f7e5c7bf34ec6775400efe47c3171
}
.navbar-brand
{
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.form-control 
{
      border-radius: 50px;
<<<<<<< HEAD
      background-color: rgb(243, 245, 250);
      border: 1px solid black;
=======
      background-color:  rgba(248, 248, 247, 0.973);
      
>>>>>>> 1fd314e5070f7e5c7bf34ec6775400efe47c3171
}
.d-flex button
{
    border-radius: 50px;
<<<<<<< HEAD
    background-color: rgb(243, 245, 250);
    border: 1px solid black;
=======
    background-color: rgba(248, 248, 247, 0.973);
>>>>>>> 1fd314e5070f7e5c7bf34ec6775400efe47c3171
 
}
.nav-link 
{
    font-weight: bolder;
    font-size: 18px;
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    
}
.dropdown-item
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(186, 212, 238);
}




