h1 
{
   background-color: rebeccapurple;
   color: blue;
   
}

h2 
{
   background-color: gray;
   color: red;

}

h3
{
   background-color: darkolivegreen;
   color: green;
}

h4
{
   background-color: antiquewhite;
   color: purple;
}

h5 
{
   background-color: ghostwhite;
   color: paleturquoise;
}

h6
{
   background-color: aquamarine;
   color: brown;
}

.hr
{
    background-color: gray;
    color: gold;
   
}

#jk
{
    font-size: 30px;
    text-align: center;
}